<div class="row">
  <div class="col-12">
    <div class="py-1 bord-bottom border-gray">
        <h1 class="display-1 fw-bold text-center text-uppercase">Wikiblog</h1>
    </div>
  </div>
</div>
<div class="row my-4">
  <div class="col-12 col-md-5">
    <div class="card-shadow card-main-post mb-4 rounded">
      <img src="https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="" class="img-fluid">
      <div class="p-3">
        <h2 class="fw-bold fs-4">Titulo</h2>
        <p class="fs-6 ">Parte del contenido</p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-7">

    <% @articles.each do |article| %>
    <div class="card-post d-flex pb-2 mb-1">
      <div class="bg-blue fixed-3 rounded-start">
      </div>

      <div class="card-post-info px-3 py-2 w-100 bord-bottom border-gray ">
        <p class="mb-2 text-s"><%= article.created_at.strftime("%b %d, %Y") %></p>
        <h2 class="fs-4 fw-bold"><a href="<%= article_path(article) %>" class="reset-a"><%= article.title %></a></h2>
        <p class="fs-6 text-gray"><%= article.content %></p>
      </div>

    </div>
    <% end %>

  </div>
</div>
