@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


:root {
  --electric-blue: rgb(126, 255, 245);
  --neon-blue: rgb(24, 220, 255);
  --light-slate-blue: rgb(125, 95, 255);
  --light-red: rgb(255, 77, 77);
  --winter-green: rgb(50, 255, 126);
  --mandarin-sorbet: rgb(255, 175, 64);
  --dark: rgb(17, 17, 17);
}

body {
  background-color: white;
  color: var(--dark);
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

h1 {
  letter-spacing: 0.2em;
  font-family: 'Kanit', sans-serif;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed-3 {
  flex: 0 0 0.5em;
}

.reset-a, .reset-a:hover, .reset-a:visited, .reset-a:focus, .reset-a:active  {
  text-decoration: none;
  color: inherit;
  outline: 0;
}

/* Brand name */
.w-name {
  width: 1.7em;
  height: 1.7em;
  font-family: 'Kanit', sans-serif;
  color: whitesmoke !important;
  background: rgb(200,71,51);
  background: linear-gradient(130deg, rgba(200,71,51,1) 0%, rgba(163,0,93,1) 100%);
}

/* Text */
.text-gray {
  opacity: 0.8;
}

/* Backgrounds */
.bg-transparent {
  background-color: transparent;
}

.bg-blue {
  background-color: rgba(0, 115, 115, 0.457);
}

.bg-light-red {
  background-color: var(--light-red);
}

.bg-mandarin-sorbet {
  background-color: var(--mandarin-sorbet);
}

/* Border */
.bord-bottom {
  border-width: 0px 0px 0.5px 0px;
  border-style: solid;
}

.border-gray {
  border-color: rgba(106, 106, 106, 0.1);
}

/* Card */
.card-shadow {
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.card-main-post {
  overflow: hidden;
}

.card-main-post > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-main-post p {
  opacity: .7;
}

.card-post {
  overflow: hidden;
  max-height: 200px;
}

.text-s {
  opacity: .8;
  font-size: 12px;
}

.card-post:hover .card-post-info {
  background-color: rgba(0, 255, 255, 0.03);
  cursor: pointer;
}

.card-post:hover h2 {
  cursor: pointer;
}

/* .card-post img {
  height: 100%;
  width: 100px;
  object-fit: cover;
} */
